<!-- <div style="display: inline-block; text-align: left; width: 100%;"> -->
    <div class="alert alert-danger">{{message}}</div>
  <md-card>
    <md-card-header>
      <h3>Spese di oggi: {{today | date: 'dd/MM/y'}}</h3>
      <span class="span-fill-remaining"></span>
      <div class="ProceedContainer ng-scope">
        <button (click)="openDialog()" class="btn BKHBrandedButton Ccm-Button-Primary ">Aggiungi</button>
      </div>
    </md-card-header>
    <md-card-content>
      <app-spese-list (reloadEvent)="getList()" [spesaList]="spesaList"></app-spese-list>
    </md-card-content>
  </md-card>
<!-- </div> -->
