<h1 md-dialog-title>{{title}}</h1>


<!-- STORE EDIT -->
<div *ngIf="storeObj != null">


  <form name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>

    <div md-dialog-content>

      <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="storeObj.nome" placeholder="Nome" autocomplete="off" #nome="ngModel" name="nome" required value="storeObj.nome">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="storeObj.indirizzo" placeholder="Indirizzo" autocomplete="off" #indirizzo="ngModel" name="indirizzo"
          value="storeObj.indirizzo" required>
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="storeObj.piva" placeholder="Partita Iva" autocomplete="off" #piva="ngModel" name="piva" value="storeObj.piva"
          required>
      </md-input-container>


      <md-checkbox class="example-margin" #active="ngModel" name="active" [(ngModel)]="storeObj.active" [checked]="storeObj.active">Attivo</md-checkbox>

    </div>



  </form>

</div>


<!-- USER EDIT -->
<div *ngIf="userObj != null">
  <form name="form" (ngSubmit)="f.form.valid" novalidate>

    <div md-dialog-content>

      <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="userObj.name" placeholder="Nome" autocomplete="off" #name="ngModel" name="name" required>
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="userObj.surname" placeholder="Cognome" autocomplete="off" #surname="ngModel" name="surname" required>
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="userObj.username" placeholder="Username" autocomplete="off" #username="ngModel" name="username"
          required>
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="userObj.password" type="password" placeholder="Password" autocomplete="off" #password="ngModel"
          name="password" required>
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput [(ngModel)]="userObj.email" placeholder="Email" autocomplete="off" #email="ngModel" name="email" required>
      </md-input-container>

      <div class="example-full-width">
        <md-select placeholder="Ruolo" [(ngModel)]="userObj.ruolo" #ruolo="ngModel" name="role" required>
          <md-option *ngFor="let ruolo of roles | keys" [value]="ruolo.value">
            {{ruolo.value}}
          </md-option>
        </md-select>
      </div>
      <span></span>
      <div class="example-full-width">
        <md-select placeholder="Punto Vendita" [(ngModel)]="userObj.store._id" #store="ngModel" name="store" required>
          <md-option *ngFor="let store of stores" [value]="store._id">{{store.nome}}</md-option>
        </md-select>
      </div>



      <md-checkbox class="example-margin" #subCategory="ngModel" name="active" [(ngModel)]="userObj.active" [checked]="userObj.active"
        [value]="userObj.active">Attivo</md-checkbox>

    </div>

  </form>
</div>


<div *ngIf="balanceObj != null">
  <form name="form" (ngSubmit)="f.form.valid" novalidate>
    <div md-dialog-content>
      <md-card>
          <md-card-header>
              <h3>Cassa</h3>
            </md-card-header>
        <md-card-content>
          <section class="example-section">
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="100€">
            </md-input-container>
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="50€">
            </md-input-container>
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="10€">
            </md-input-container>
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="5€">
            </md-input-container>
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="2€">
            </md-input-container>
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="1€">
            </md-input-container>
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="0.5€">
            </md-input-container>
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="0.20€">
            </md-input-container>
            <md-input-container class="example-margin">
              <input mdInput type="number" min="0" placeholder="0.10€">
            </md-input-container>
          </section>
        </md-card-content>
      </md-card>
      <md-input-container class="example-full-width">
        <input mdInput type="number" [(ngModel)]="balanceObj.cassa" placeholder="Cassa" autocomplete="off" #cassa="ngModel" name="cassa"
          required>
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput type="number" [(ngModel)]="balanceObj.pos" placeholder="Pos" autocomplete="off" #pos="ngModel" name="pos"
          required>
      </md-input-container>

      <md-input-container class="example-full-width">
        <input mdInput type="number" [(ngModel)]="balanceObj.ticket" placeholder="Ticket" autocomplete="off" #ticket="ngModel" name="ticket"
          required>
      </md-input-container>

    </div>
  </form>
</div>



<div md-dialog-actions>
  <button md-button style="color: #fff;background-color: #7fa372;" (click)="dialogRef.close(true)">Confermo</button>
  <button md-button (click)="dialogRef.close(false)">Annulla</button>
</div>
