.example-full-width {
  width: 100%;
}

.example-form {
  width: 500px;
}
.checkbox-margin {
  margin: 0 12px;
}
.example-section {
  margin: 12px 0;
}

mat-select {
  /* display: inline-block;
  /margin-top: 2px; */
  width: 100%;
  padding-bottom: 26px;
}
/** wrap label */
.mat-checkbox-layout {
  white-space: normal !important;
}

/** keep checkbox on first line */
.mat-checkbox-inner-container {
  margin-top: 4px !important;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /** wrap label ie */
  .mat-checkbox-layout {
    display: block !important;
  }

  .mat-checkbox-inner-container {
    margin-top: 0 !important;
  }
}