<!-- <div style="display: inline-block; text-align: left; width: 100%;"> -->
<div class="alert alert-danger">{{message}}</div>
<md-card class="example-card">
  <md-card-header>
    <h1 *ngIf="diff>0">Prossimo resoconto tra {{timerMessage}}</h1>
    <h1 *ngIf="diff<0" style="color: red">Resoconto in ritardo di {{timerMessage}}</h1>
    <span class="span-fill-remaining"></span>
    <div class="ProceedContainer ng-scope" *ngIf="diff<0"><button class="btn BKHBrandedButton Ccm-Button-Primary" (click)="openEditDialog()" *ngIf="lastBalance?.type!=='Chiusura'">Aggiungi</button></div>
  </md-card-header>
  <md-card-content>
    <md-card *ngIf="lastBalance">
      <md-card-title-group>
        <md-progress-spinner class="example-margin" [color]="spinnerColor" [mode]="spinnerMode" [value]="lastBalance.value" aria-label="100"></md-progress-spinner>
        <md-card-title>Resoconto {{lastBalance.type}}</md-card-title>
        <md-card-subtitle>stato: inserito</md-card-subtitle>
      </md-card-title-group>
      <md-card-content class="md-content">


        <p><span><i>Resoconto eseguito da:</i></span><span> <strong>{{lastBalance.user.name}} {{lastBalance.user.surname}}</strong></span></p>
        <p><span>In cassa: </span><span><strong>{{lastBalance.cassa}} &euro;</strong></span></p>
        <p><span>POS:</span><span> <strong>{{lastBalance.pos}} &euro;</strong></span></p>
        <p><span>Ticket:</span><span> <strong>{{lastBalance.ticket}} &euro;</strong></span></p>
      </md-card-content>
      <!-- <md-card-actions>
        <button md-button disabled="true">SEGNALA</button>
      </md-card-actions> -->
    </md-card>
  </md-card-content>
</md-card>
<!-- </div> -->


<!-- <div style="display: inline-block; text-align: left; width: 100%;">
  <div class="alert alert-danger">{{message}}</div>
  <div>
    <h3>Resoconto</h3>
    <span class="span-fill-remaining"></span>
    <div class="ProceedContainer ng-scope"><button class="btn BKHBrandedButton Ccm-Button-Primary" (click)="openEditDialog()">Aggiungi</button></div>
  </div>

  <md-card *ngFor="let lastBalance of balance">
    <md-card-title-group>
      <md-progress-spinner class="example-margin" [color]="spinnerColor" [mode]="spinnerMode" [value]="lastBalance.value"></md-progress-spinner>
      <md-card-title>Resoconto {{lastBalance.tipo}}</md-card-title>
      <md-card-subtitle>stato: inserito</md-card-subtitle>
    </md-card-title-group>
    <md-card-content class="md-content">


      <p><span><i>Resoconto eseguito da:</i></span><span> <strong>{{lastBalance.user.name}} {{lastBalance.user.surname}}</strong></span></p>
      <p><span>In cassa: </span><span>{{lastBalance.cassa}} &euro;</span></p>
      <p><span>POS:</span><span>{{lastBalance.pos}}</span></p>
      <p><span>Ticket:</span><span>{{lastBalance.ticket}}</span></p>
    </md-card-content>
    <md-card-actions>
      <button md-button disabled="true">INSERISCI</button>
    </md-card-actions>
  </md-card>

</div> -->
