/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './Branding.css';
/* @import './concat.css'; */

.span-fill-remaining {
  flex: 1 1 auto;
}

.mat-toolbar {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding: 0 5px;
	flex-direction: column;
}

button .mat-button-wrapper {
  font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
}




.Ccm-MainContentView md-tab-group md-tab-header .mat-tab-label-container .mat-tab-list .mat-ink-bar{

  position: absolute;
  bottom: 0;
  height: 4px;
  transition: .5s cubic-bezier(.35,0,.25,1);
  background-color: #7fa372;
}

.mat-input-placeholder{
  overflow: auto;
}

form .mat-dialog-content md-input-container .mat-input-wrapper .mat-input-infix .mat-input-element{

  color: black;
}

form .mat-dialog-content md-input-container .mat-input-wrapper .mat-input-infix .mat-input-placeholder-wrapper{
  overflow: visible;
}



html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

body {
  font-family: arial;
  font-size: 14px;
}
