/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './Branding.css';
/* @import './concat.css'; */

.span-fill-remaining {
  flex: 1 1 auto;
}

.mat-toolbar {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	padding: 0 5px;
	flex-direction: column;
}






.Ccm-MainContentView md-tab-group md-tab-header .mat-tab-label-container .mat-tab-list .mat-ink-bar{

  position: absolute;
  bottom: 0;
  height: 4px;
  transition: .5s cubic-bezier(.35,0,.25,1);
  background-color: #7fa372;
}

.mat-input-placeholder{
  overflow: auto;
}

form .mat-dialog-content md-input-container .mat-input-wrapper .mat-input-infix .mat-input-element{

  color: black;
}

form .mat-dialog-content md-input-container .mat-input-wrapper .mat-input-infix .mat-input-placeholder-wrapper{
  overflow: visible;
}
