@import '~@angular/material/theming';
@include mat-core();


$md-mcgpalette0: (
  50 : #f0f4ee,
  100 : #d9e3d5,
  200 : #bfd1b9,
  300 : #a5bf9c,
  400 : #92b187,
  500 : #7fa372,
  600 : #779b6a,
  700 : #6c915f,
  800 : #628855,
  900 : #4f7742,
  A100 : #dbffcf,
  A200 : #b4ff9c,
  A400 : #8dff69,
  A700 : #7aff50,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);



$my-app-primary: mat-palette($md-mcgpalette0);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($md-mcgpalette0);
  $alternate-accent:  mat-palette($mat-yellow, 400);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}


