html, body, material-app, mat-sidenav-container, .my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

.reportContainer {
  display: flex;
  height: 100%;
  overflow-y: scroll;

}
div.Ccm-MainContentView {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.bkExpansionPanel {
  background-color: lightgray
}

.bkExpansionPanel .bkExpansionPanelHeader {
  background-color: white
}