<md-list>
  <md-list-item *ngFor="let spesa of spesaList">
    <h4 md-line style="text-align: left;">{{spesa.descrizione}} </h4>
    <p style="font-size: 8px;text-align: left;" md-line>{{spesa.update_on | date : 'H:mm:ss'}}</p>
    <div style="display: inline-block; text-align: right; width: 100%;">{{spesa.valore}}&euro;</div>
    <div style="display: inline-block; text-align: right; width: 100%;">
      <md-icon>edit</md-icon><span></span><md-icon>delete</md-icon></div>
  </md-list-item>
</md-list>
