<md-toolbar *ngIf="auth.loggedIn()"  class ="BrandedBackgroundGradientImage" style="text-align: center; padding: 0 5px;" >

	<!--The whole content below can be removed with the new code.-->

  <div md-card-avatar class="example-header-image"></div>
	<h3 style="color: white">{{title}}</h3>

	<span class="span-fill-remaining"></span>
	<button md-button [mdMenuTriggerFor]="menu" style="color: white; padding: 0 0px;" >{{user.name}}<md-icon>more_vert</md-icon></button>
</md-toolbar> <!-- main app container -->
<md-menu #menu="mdMenu" yPosition="below" xPosition="after">
  <!-- <button md-menu-item> -->
      <a md-menu-item routerLink="/" routerLinkActive="active">
      <md-icon class="md-18|md-24|md-36|md-48">home</md-icon>
      Home</a>
  <!-- </button> -->
  <a  md-menu-item routerLink="/manage" routerLinkActive="active">
    <md-icon class="md-18|md-24|md-36|md-48">format_list_bulleted</md-icon>
    Gestione
  </a>
  <button md-menu-item (click)="logout()">
    <md-icon class="md-18|md-24|md-36|md-48">exit_to_app</md-icon>
    Esci
  </button>
</md-menu>
