/* .bkExpansionPanel {
    background-color: lightgray
  }
  
  .bkExpansionPanel .bkExpansionPanelHeader {
    background-color: white
  } */

  .mat-table {
    overflow: auto;
    max-height: 650px;
  }